.header-title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70px;

    img {
        margin: 20px 0;
        
    }

    .back-home {
        position: absolute;
        left: 15px;
        top: 20px;
        font-size: x-large;
    }
}

.banniere-img {
    margin-bottom: -30px;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}