//SECTION ONE
.section-one {

    @media screen and (min-width: 768px) {
        h3 {
            padding: 0 15px;
        }
    }
}

.section-fonctionnalities {

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 20px;
    }

    .minicard {
        background-color: $silver;
        border-radius: 25px;
        font-family: $font-content;
        margin: 25px 20px;
        box-shadow: 0px 2px 19px -2px rgba(0,0,0,0.30);
        cursor: pointer;
        

        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70px;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: $secondaryState!important;
                border-radius: 25px;
            }

            .circle {
                background-color: $colour-primary;
                border-radius: 50%;
                color: $white;
                font-size: 15px;
                margin: 0 10px 0 -12px;
                padding: 5px 8px; 
            }

            p {
                font-family: $font-content;
                font-size: 16px;
                margin-left: 10px;
                font-weight: 700;
            }

            .miniicon {
                width: 50px;
                font-size: 20px;
                text-align: center;
                color: $gray;
            }
        }

        .secondary {
            background-color: $secondaryState!important;
            border-radius: 25px;
        
            .miniicon {
              color: $colour-primary!important;
            }
          }
    }
}

//SECTION TWO

.section-two {
    margin-top: 60px;
    padding: 10px 0 5px 0;
    background-color: $silver;
}

.section-restaurants {

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    @media (min-width:1280px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

    padding-bottom: 60px;

    .restaurant-card {
        background-color: $white;
        border-radius: 15px;
        margin: 18px;
        overflow: hidden;
        position: relative;
        box-shadow: 0px 26px 58px -22px rgba(0,0,0,0.25);

        img {
            height: 220px;
            width: 100%;
            object-fit: cover;
        }

        .content {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px;
        }

        .card-content {
            margin: 10px 0 15px 10px;
            width: 150px;
        
            h4 {
                margin: 0 0 4px 0;
                font-family: $font-content;
                font-weight: 900;
            }

            .restaurant-location {
                font-family: $font-content;
            }
        }
    }

        .novelties-flag {
            background-color: $colour-tertiare;
            border-radius: 3px;
            width: 95px;
            height: 35px;
            position: absolute;
            right: 15px;
            top: 15px;

            p {
                font-family: $font-content;
                margin: 5px 10px;
                line-height: 28px;
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
                color: $primaryGreen;
            }
        }
}