.heart {
    position: absolute;
    right: 28px;
    bottom: 25px;
    font-size: 25px;

    &:hover {
        animation: fill 0.5s ease-in-out;
        background:linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background:-webkit-linear-gradient(to lbottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
}