/* Font Styles */
$font-content: 'Roboto', sans-serif;


$colour-primary: #9356dc;
$colour-secondary: #FF79DA;
$colour-tertiare: #99e2d0;
$gray: #818181;
$white: #f1f1f1;
$secondaryState: #ece2ec;
$primaryGreen: #278666;
$secondaryGreen: #b3ecde;
